body{
    margin: 20px;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: "Emoji Fonts";
    src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
}
* {
    font-family: Arial, Helvetica, sans-serif, Emoji Fonts;
}

h1 {
    margin: 20px;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    color: #6699cc;
}
h2 {
    margin: 10px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #6699cc;
}
h3{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 600;
    color: #6699cc;
    padding: 0;
}

p, li, span {
    font-size: 16px;
    font-weight: 400;
}
p, li {
    margin-top: 3px;
    margin-bottom: 3px;
}
p.copyright {
    text-align: center;
    color: #6699cc;
}

ol, ul {
    margin: 0;
    list-style-position: inside;
    padding-left: 0px;
}

a {
    color: #6699cc;
    text-decoration: underline;
}
a:link, a:visited, a:active {
    color: #6699cc;
    text-decoration: underline;
}
a:hover {
    color: #99ccff;
    transition: 0.2s;
    text-decoration: underline;
}

/* 分隔线  */
hr {
    border: 0;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6699cc;
}

label:hover {
    cursor: pointer;
}

input, button {
    margin-right: 5px;
}